doctype html
html
  head
    title aNonY
    link(rel='stylesheet', href='css/style.css')
    link(src='http://fonts.googleapis.com/css?family=Oswald')
    link(src='http://fonts.googleapis.com/css?family=Open+Sans:300')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='/public/helper.js')
    script(src='/public/interact.js')

    script(src='/public/speakClient.js')

    script.
      // connect socket.io to server
      var socket = io.connect('http://localhost:8080');

      // when a "sensorReading" message comes through, show its value by
      // writing the text of the div with id=showValue

      //KEYSTROKES

      // when the user clicks one of the buttons, they call toggle()
      // toggle emits a message to the socket with the new LED state
      function toggle (theState) {
        console.log("toggle: "+ theState);
        socket.emit('toggle',theState);
      }

  body

    div#wrapper
      input.sentence#0(maxlength="9")
      input.sentence#1(maxlength="9")
      input.sentence#2(maxlength="9")
      input.sentence#3(maxlength="9")
      input.sentence#4(maxlength="9")

      #caption Press ENTER to submit
    div#audio
