doctype html
html
  head
    title Node Serial Server with Socket.IO
    script(src='/socket.io/socket.io.js')
    script(src='/public/helper.js')
    script(src='http://code.jquery.com/jquery-1.10.1.min.js')
    script.
      // connect socket.io to server
      var socket = io.connect('http://localhost:8080');

      // when a "sensorReading" message comes through, show its value by
      // writing the text of the div with id=showValue

      //KEYSTROKES

      // when the user clicks one of the buttons, they call toggle()
      // toggle emits a message to the socket with the new LED state
      function toggle (theState) {
        console.log("toggle: "+ theState);
        socket.emit('toggle',theState);
      }

  body
    p.text#0 
    p.text#1 
    p.text#2 
    p.text#3 
    p.text#4 

